@media screen and (min-width: 600px) {
    nav {
        background-color: #2D80C4; 
        text-align: right;
    }
    
    nav ul li {
        padding: 0 20px 5px 20px;
    }
    
    h1 {
        text-align: left;
        padding: 10px 0 0 60px;
        color: #fff;
    }
    
    h2 {
        text-align: left;
        padding: 10px 0 0 90px;
        color: #fff;
    }
    
    #personalphoto {
        float: left;
        padding: 45px;
        margin: 15px;
    }
    
}

@media screen and (min-width: 1024px) {
    #gallery li {
        float: left;
        width: 29%;
        margin: 2%;
        background-color: #f5f5f5;
        color: #bdc3c7;
    }
    
    #wraper {
        max-width: 1320px;
    }
    
    #wraper2 {
        max-width: 800px;
        margin: 0 auto;
    }
    
    #wraper3 {
        max-width: 800px;
    }
    
    h3 {
        padding-top: 30px;
    }
    
}